body{
  background-color: bisque;
}

.nameOfLib{
  text-align: center;
  color:darkslategray;
}

main{
  margin: 34px;
  display: flex;
  gap: 100px;
}
section{
  border: 1px solid pink;
  width: 200px;
  height: 300px;
  border-radius: 23px;
  padding: 40px;
  background-color: azure;
}
div{
  border-bottom: 1px solid pink;
  height: 30px;
  width: 100%;
}

button{
  border:none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  font-family:Arial, Helvetica, sans-serif;
}



